
#logomarca{
	height: 30%;
    width: 30%;
}

a:before {
  content: " ";
  width: 20px;
  background: url(img/globo.png) no-repeat;
}
body {
	background-color: #e1e0eb;
	margin-left: 20%;
	margin-right: 20%;
	font-family: "Times New Roman", Times, serif;
}
